.container-profile {
  gap: 1rem;

  .logo-profile {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 100%;

    img {
      border: 3px solid var(--primary-color);
      object-fit: cover;
    }
  }

  span {
    font-weight: 600;
    font-size: 1.115rem;

    a {
      color: var(--text-gray);
    }
  }

  &:hover {
    cursor: pointer;

    a {
      text-decoration: underline;
    }
  }
}
