main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  position: relative;

  .modal-window {
    position: fixed;
    background-color: #0000008a;
    width: 100%;
    height: 100%;
    z-index: 1000000;

    display: flex;
    align-items: center;
    justify-content: center;

    .modal-box {
      border: 2px solid rgb(31, 31, 31);

      background-color: rgb(20, 20, 20);
      width: 70%;
      min-height: 20%;
      box-shadow: 0px 0px 100px rgba(220, 53, 70, 0.329);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      header {
        border-bottom: 2px solid var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .title-modal {
          font-size: 2rem;
          margin: 0;
          padding: 0;
        }
      }

      div.modal-form {
        flex: 1;
        padding: 1rem;
      }

      footer {
        display: flex;
        padding: 1rem;
        gap: 1rem;

        button {
          flex: 1;
          padding: 0.7rem;
          font-size: 1.125rem;
        }

        .cancel {
          background-color: #777;
        }

        .confirm {
          background-color: var(--primary-color);
        }
      }
    }
  }

  .main-content {
    flex: 1;

    .banner-movie {
      position: relative;
      background-size: cover;
      overflow: hidden;
      height: 80vh;

      img {
        object-fit: cover;
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .bg-gradient-black {
        position: absolute;
        z-index: 100;
        padding: 2rem;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.5)
        );
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .movie-content {
          display: flex;
          flex-direction: column;
        }

        @media (max-width: 1250px) {
          grid-template-columns: 1fr;
        }
      }

      p {
        color: #888;
        font-size: 1.125rem;
      }

      .info-movie {
        h2 {
          font-weight: bold;
          font-size: 3.5rem;
          margin-bottom: 1rem;
          line-height: 5rem;
        }

        margin-bottom: 2.5rem;
      }

      .duration-year {
        display: flex;
        align-items: center;
        gap: 4rem;

        p {
          margin: 0;
        }

        span {
          margin-right: 0.5rem;
        }
      }

      span {
        font-weight: bold;
        margin-right: 0.5rem;
      }

      .buttons {
        margin-top: auto;
        margin-bottom: 3rem;
        display: flex;
        gap: 2rem;

        button {
          padding: 1rem;
          flex: 1;

          font-size: 1.25rem;
          font-weight: 600;
        }
      }

      .desc-movie {
        margin-top: 1rem;
        margin-bottom: 2rem;

        line-height: 2rem;
        font-size: 1.5rem;
        color: var(--text-gray);
      }
    }
  }
}
