<main class="text-white d-flex">
  <app-header></app-header>
  <div
    class="d-flex flex-column text-center gap-2 rounded-4 form-homepage justify-content-center"
  >
    <span class="slogan fs-1 mb-2"> "Stream Movies, Anytime, Anywhere."</span>

    <form class="input-box">
      <button
        type="submit"
        class="btn btn-success w-100 p-2 py-3 fs-5"
        routerLink="/login"
      >
        Sign In
      </button>
      <button
        type="submit"
        class="btn btn-danger w-100 p-2 py-3 fs-5"
        routerLink="/sign-up"
      >
        Sign Up
      </button>
    </form>
  </div>
  <app-footer></app-footer>
</main>
